{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<turbo-frame id="category-form">
    {{ form_errors(categoryForm) }}
	{{ form(categoryForm) }}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
</turbo-frame>
	{% endblock %}
