{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	{{ form(articleForm) }}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

	{% endblock %}
