name: E2E Cypress Symfony
on:
    push:
        branches: ["main"]
    workflow_dispatch:
    
jobs:
    e2e:
        runs-on: ubuntu-latest
        services:
            mysql:
                image: mysql:8.0
                env:
                    MYSQL_ROOT_PASSWORD: root
                    MYSQL_ROOT_HOST: "%"
                    MYSQL_DATABASE: test
                ports:
                    - "3306:3306"
                options: >-
                  --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -proot"
                  --health-interval=10s
                  --health-timeout=5s
                  --health-retries=5
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Install PHP 8.5
              uses: shivammathur/setup-php@v2
              with:
                php-version: '8.5'
                extensions: mbstring, intl, pdo_mysql, sodium, zip
                tools: composer
                coverage: none
            - name: fichier .env
              run: |
                cat > .env << 'ENV'
                APP_ENV=test
                APP_SECRET=
                APP_SHARE_DIR=var/share
                DEFAULT_URI=
                DATABASE_URL=
                MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
                MAILER_DSN=null://null
                CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
                JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
                JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
                JWT_PASSPHRASE=
                ENV
            - name: fichier .env.test
              run: |
                cat > .env.test << 'ENV.TEST'
                DEFAULT_URI=http://127.0.0.1
                APP_SECRET=d9d075bafae3eebb469a1b8fc9c809d7
                DATABASE_URL="mysql://root:root@127.0.0.1:3306/test?serverVersion=8.0.44&charset=utf8mb4"
                JWT_PASSPHRASE="test"
                ENV.TEST
            - name: Installer dépendances
              run: composer install --no-progress --prefer-dist --no-interaction
            - name: création private et public key
              run: php bin/console lexik:jwt:generate-keypair
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: '20'
                cache: 'npm'
            
            - name: Install Cypress
              run: npm ci
            - name: Install Symfony CLI
              run: |
                curl -1sLf 'https://dl.cloudsmith.io/public/symfony/stable/setup.deb.sh' | sudo -E bash
                sudo apt install symfony-cli
            - name: Supprimer migrations existantes
              run: rm -f migrations/Version*.php
            - name: Créer DB & migrate
              run: |
                symfony console doctrine:database:create
                symfony console make:migration
                symfony console doctrine:migrations:migrate
            - name: Start Symfony
              run: symfony server:start --port=8000 --no-tls --allow-all-ip --daemon
            - name: Run Cypress
              uses: cypress-io/github-action@v6
              with:
                record: false